/* === Import === */

@font-face {
    font-family: Lato;
    src: url(../font/Lato-Regular.ttf);
}
@font-face {
    font-family: Merriweather;
    src: url(../font/Merriweather-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Merriweather;
    src: url(../font/Merriweather-Bold.ttf);
    font-weight: 700;
}

/* === HTML Config === */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

body {
    background-color: #F5F5F5;
    max-width: 1440px;
    margin: 0 auto;
}

:root {
    --color_accent: #202020;
    --color_accent2: #7E7E7E;
    --main_font: Merriweather;
    --sec_font: Lato;
}

/* === Globals === */

h1,
h2,
h3,
p,
button {font-family: var(--main_font);}

h1,
h2 {
    font-size: 3rem;
}

footer,
nav, 
p {
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    font-weight: 700;
}

footer,
li,
p,
button {
    font-weight: 400;
}

p,
footer {
    line-height: 2.4rem;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border-style: none;
    border-radius: 10px;
}

li {
    list-style: none;
}

/* === Header & Main === */

.navbar {
    font-family: var(--sec_font);
    text-align: end;
}

.navbar__li {
    display: inline-block;
    padding: 1.7106rem 0.8875rem 6.4006rem 1.1244rem;
}

.navbar__a {
    color: var(--color_accent);
}

.introduction {
    padding-left: 9rem;
}

.introduction__container {
    height: 31.4312rem;
    margin-bottom: 5.9719rem;
    width: 81rem;
}

.introduction__container__tb {
    display: inline-block;
    width: 31rem;
}

.introduction__container__tb__headline {
    padding-bottom: 1.2331rem;
}

.introduction__container__tb__p {
    padding-bottom: 1.2925rem;
}

.introduction__container__tb__button {
    background-color: black;
    color: white;
    font-size: 1.1875rem;
    margin-right: 0.8538rem;
    padding: 0.75rem;
}

.--button_light {
    background-color: white;
    box-shadow: 0 0 0.125rem var(--color_accent);
    color: var(--color_accent);
}
 /* #Der Fisch braucht noch etwas liebe */
.introduction__container__img {
    float: right;
    height: 31.4312rem;
    object-fit: cover;
}

.--float_left {
    float: left;
}

/* #Wahrscheinlich zeimlicher Schmu */
.--text_center {
    margin-left: 15%;
}

.introduction__end__text {
    text-align: center;
}

.introduction__end__text__headline {
    padding-bottom: 1.2331rem;
}

.introduction__end__text__p {
    margin: 0 auto;
    padding-bottom: 2.7125rem;
    width: 50.9131rem;
}

.introduction__end__gallery {
    text-align: center;
}

.introduction__end__gallery__img {
    height: 19.1219rem;
    mix-blend-mode: multiply;
    margin-bottom: 8.5313rem;
    width: 22.5rem;

}

.--img_correction {
    margin-right: 4.7375rem;
    margin-right: 4.7375rem;
}

.examples {
    text-align: center;
}

.examples__headline {
    padding-bottom: 1.2331rem;
}

.examples__p {
    display: inline-block;
    padding-bottom: 2.2625rem;
    width: 834.47px;
}

.examples__gallery {
text-align: center;
}

.examples__gallery__img {
    height: 20.25rem;
    margin-right: 1.875rem;
    margin-left: 1.875rem;
    margin-bottom: 3.8806rem;
    width: 36rem;
}

.sale__tb {
    text-align: center;
}

.sale__tb__headline {
    padding-bottom: 1.2331rem;
}

.sale__tb__p {
    margin: 0 auto;
    padding-bottom: 4.4431rem;
    width: 34.1631rem;
}

.sale {
    padding-bottom: 60px;
}

.sale__tile {
    background-color: #55ACEE1A;
    height: 35.7275rem;
    margin: 0 auto;
    width: 22.5rem;
    text-align: center;
}

.sale__tile__headline {
    font-size: 2rem;
    padding-top: 60px;
}

.sale__tile__price {
    font-size: 80px;
    padding-top: 60px;
}

.sale__tile__priceperiod {
    font-size: 1rem;
    color: var(--color_accent2);
    padding-top: 50px;
}

.sale__tile__benefits {
    font: 400 1rem var(--main_font);
    padding-top: 10px;
    padding-bottom: 2rem;
}

.sale__tile__subbutton {
    background-color: #55ACEE;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    font-size: 1rem;
    
}
/* === Footer === */

.footer {
    text-align: center;
}

.footer__headline {
    padding-bottom: 1.5rem;
}

.footer__contact {
    font-size: 1.2rem;
}

.footer__contact__plain {
    color: var(--color_accent2);
}

.--contact_fb {
    color: #3B5998;
}
.--contact_insta {
    color: #FCAF45;
}
.--contact_twitter {
    color: #55ACEE;
}
.--contact_yt {
    color: #C4302B;
}